.Scoreboard {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex: 1;
}

.PlayerInformation {
  display: flex;
  flex: 1;

  color: white;
}

.PlayerInformation .scoreCounter {
  align-self: center;
  margin-top: 4vh;
  font-size: 40vmin;
  width: 100%;
  text-align: center;
}

.PlayerInformation .playerName {
  font-size: 5vw;
  position: absolute;
  margin-left: 2vw;
  margin-top: 1vw;
}